<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div id="wrapper">
            <h1><%= title %></h1>
            <input id="searchbar" class="spacing" type="text" placeholder="Search for a museum"/>

            <div class="content">
                <% if (list) { %>
                    <ul class="list-wrapper">

                        <% for (var i = 0; i < list.length; i++) { %>
                            <li><%= list[i].name %></li>
                        <% } %>

                        <div class="clear"></div>
                    </ul>
                <% } %>
            </div>

        </div>

        <script data-main="/js/main" src="/js/lib/require.js"></script>
    </body>

</html>
