
/*------------------------------------------
	Reset (from the Yahoo UI Library)
------------------------------------------*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,th,td {margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
/*------------------------------------------
  Base
------------------------------------------*/

a{color: #404a69;outline: none;text-decoration: none;}
a:hover{text-decoration:underline;}
.header a:hover{text-decoration: none; border-bottom: 2px solid #404a69;}
a:visited{color: #404a69;}
em{font-style: italic;}
strong{font-weight: bold;}

/*------------------------------------------
  Global Reusable Classes
------------------------------------------*/

.hide{display: none !important;}
.center{text-align: center;}
.clear{
    clear: both;
    height: 20px;
    display: block;
    margin-bottom: -20px;
}
.spacing{
    margin: 10px 0;
}
.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}


/*
 * General
 */
html {
    height: 100%;
}
body {
    color: #666;
    font-size: 14px;
    font-family: 'Georgia', serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
#wrapper {
    height: auto!important;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
h1 {
    font-size: 38px;
    line-height: 30px;
}
h2 {
    font-size: 24px;
    line-height: 24px;
}
h3 {
    font-size: 16px;
    line-height: 16px;
}
h4 {
    font-size: 12px;
    line-height: 12px;
}
.italicized {
    color: #777;
    font-style: oblique;
    line-height: 20px;
}

/*
 * Index.ejs
 */
.header {
    background: #fff;
    border-bottom: 1px solid #eee;
    padding: 20px 20px 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-width 940px;
    z-index: 20;
}
.header h1 {
    display: inline-block;
    margin-right: 84px;
}
.type-ahead {
    display: inline-block;
    position: relative;
    top: -5px;
}
.type-ahead ul {
    width: 500px;
}
#searchbar {
    font-size: 16px;
    padding: 10px;
    width: 478px;
}
.content {
    margin-top: 100px;
    margin-left: 300px;
}
.grid-list-wrapper h2 {
    margin: 15px 0 15px -4px;
}
.grid-list-wrapper li {
    display: inline-block;
    margin-right: 20px;
    margin-left: -4px;
    vertical-align: top;
    width: 200px;
}
.grid-list-wrapper li img {
    width: 200px;
}
.grid-list-wrapper li a {
    display: block;
    height: 100%;
    width: 100%;
}
.grid-list-wrapper .info {
    color: #555;
    padding: 5px 0 30px 0;
}

.grid-list-wrapper a:hover .italicized {
    text-decoration: none;
}

.artist-section {
    border-bottom: 1px solid #eee;
    margin-bottom: 40px;
    position: relative;
}
.list-wrapper-title {
    left: 0;
    top: 0;
    width: 285px;
    position: absolute;
}
.list-wrapper-title h1 {
    font-weight: normal;
    font-size: 28px;
}
.list-wrapper {
    margin-left: 300px;
}
.list-wrapper li {
    margin-bottom: 40px;
}
.list-wrapper li img {
    float: left;
    margin-right: 30px;
    width: 400px;
}
.list-wrapper .info {
    float: left;
    padding-top: 10px;
    width: 328px;
}
.list-wrapper .info h2 {
    display: inline;
    font-size: 20px;
    font-style: oblique;
    line-height: 20px;
    margin-bottom: 15px;
}
.list-wrapper .info a {
    color: #666;
}
.list-wrapper .info .date {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 20px;
}
.list-wrapper .info .facts {
    margin-bottom: 15px;
}

/*
 * Detail Pages museum.ejs, artwork.ejs
 */
.detail.content {
    margin-left: 0;
    margin-top: 80px;
}
.detail .details img {
    float: left;
    margin-right: 15px;
    width: 300px;
}
.detail .information {
    background-color: #f5f5f5;
    opacity: 0.9;
    margin-bottom: 30px;
    padding: 20px;
}
.detail .details {
    background-position: 0 60%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 175px;
    margin-left: -20px;
    margin-right: -20px;
    position: relative;
}
.detail .details h2 {
    color: #f5f5f5;
    font-size: 65px;
    bottom: 20px;
    left: 100px;
    position: absolute;
    line-height: 65px;
    z-index: 10;
}
.detail .details .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 0;
}
.detail .description {
    margin-bottom: 15px;
}
